@inherits LayoutComponentBase

<NavMenu />

<main class="container" style="height: 100%;">
  <div class="container">

    @Body

    <div class="row">
      <div class="col-12">&nbsp;</div>
    </div>
  </div>
</main>
<div style="width: 100%; text-align: center; background-color: #333333; color: whitesmoke; text-size: .7em"><br />
  Cedar Grove Christian Academy, Inc<br />Copyright &copy; 2026, All rights reserved.<br /><a href="/privacy"
    class="text-decoration-none">Privacy Policy&nbsp;&nbsp;
    <Icon Name="IconName.ShieldCheck" />
  </a><br />
  <a href="https://www.facebook.com/cedargrovechristianacademy" class="text-decoration-none">
    <Icon Name="IconName.Facebook" Size="IconSize.x3" />
  </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://www.linkedin.com/company/cg-christian-academy" class="text-decoration-none">
    <Icon Name="IconName.Linkedin" Size="IconSize.x3" />
  </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://www.instagram.com/cedargrove.christianacademy/" class="text-decoration-none">
    <Icon Name="IconName.Instagram" Size="IconSize.x3" />
  </a>
  <br />
</div>