@inherits LayoutComponentBase

<NavMenu />

<main class="container" style="height: 100%;">
  <div class="container">

    @Body

    <div class="row">
      <div class="col-12">&nbsp;</div>
    </div>
  </div>
</main>
<footer class="site-footer">
  <p>Cedar Grove Christian Academy, Inc</p>
  <p>Copyright &copy; @DateTime.Now.Year, All rights reserved.</p>
  <a href="/privacy" class="text-decoration-none" aria-label="Privacy Policy">
    Privacy Policy&nbsp;&nbsp;
    <Icon Name="IconName.ShieldCheck" />
  </a>
  <nav aria-label="Social media links" style="margin-top: 0.5rem;">
    <a href="https://www.facebook.com/cedargrovechristianacademy" class="text-decoration-none"
      aria-label="Visit our Facebook page" target="_blank" rel="noopener noreferrer">
      <Icon Name="IconName.Facebook" Size="IconSize.x3" />
    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/company/cg-christian-academy" class="text-decoration-none"
      aria-label="Visit our LinkedIn page" target="_blank" rel="noopener noreferrer">
      <Icon Name="IconName.Linkedin" Size="IconSize.x3" />
    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.instagram.com/cedargrove.christianacademy/" class="text-decoration-none"
      aria-label="Visit our Instagram page" target="_blank" rel="noopener noreferrer">
      <Icon Name="IconName.Instagram" Size="IconSize.x3" />
    </a>
  </nav>
</footer>