.navbar-toggler {
    background-color: rgba(27, 160, 243, 0.1);
}

.top-row {
    min-height: 3.5rem;
    background-color: rgba(27, 160, 243, 0.1);
}

.image-logo {
    max-width: 450px;
    min-width: 400px;
    border-radius: 10px;
    padding-right: 25px;
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item {
    padding-top: 1rem;
    font-size: 0.9rem;
    /*padding-bottom: 0.5rem;*/
    padding-bottom: 1rem;
    padding-right: 1rem;    
}
    .nav-item ::deep a {
        color: #06ce17b0;
        border-radius: 25px;
        height: 2rem;
        display: flex;
        align-items: center;
        line-height: 1rem;
        text-decoration: none !important;
        padding: 10px;
    }

.nav-item ::deep a.active {
    background-color: rgba(4, 230, 246, 0.37);
    color: rgb(233, 240, 19);
}

.nav-item ::deep a:hover {
    background-color: rgba(8, 217, 50, 0.1);
    color: rgb(233, 240, 19);
}

@media (min-width: 799px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
