@page "/contact"
@inject IJSRuntime JSRuntime

<PageTitle>Contact Us</PageTitle>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <Card TextAlignment="Alignment.Start" Style="border: 0px;">
      <CardBody>
        <CardTitle>
          <i>Cedar Grove Christian Academy (CGCA)</i>
        </CardTitle>
        <CardText>
          <p style="text-align: justify;">Welcome to Cedar Grove Christian Academy (CGCA), a ministry of Cedar Grove
            Baptist Church. We are committed to academic excellence in a Christian environment. We feel honored that you
            have chosen our school to be your partner in the education of your children. Please use this form to contact
            us with any questions or concerns.</p>
          <Button Type="ButtonType.Link" Color="ButtonColor.Success" Target="Target.Blank" Size="ButtonSize.ExtraLarge"
          style="border-radius: 25px;" To="https://forms.gle/85pj7RGUHaMUNiQy6">
          <Icon Name="IconName.EnvelopeAt" />
          &nbsp;&nbsp;Subscribe to our Email Newsletter&nbsp;&nbsp;
          <Icon Name="IconName.EnvelopeAt" />
        </Button>
        </CardText>
      </CardBody>
    </Card>
  </div>
  <div class="col-md-8 col-sm-12">
    <iframe style="width: 100%; height: 800px; border-radius: 25px;" class="embed-responsive-item"
      src="https://forms.gle/sEakenNv3o7Jckaa8" allowfullscreen></iframe>
  </div>
</div>

@code
{

}