@page "/"
<PageTitle>Home</PageTitle>
<div class="row">
  <div class="col-12 text-center">
    <Alert Color="AlertColor.Success" style="text-align: justify; border-radius: 25px;">
      <Icon Name="IconName.CheckCircleFill" class="me-2"></Icon>
      <strong>Registration now open for the 2026/27 school year!</strong>
      <br />
      There are limited openings for our Pre-School program, ages 3, 4, and 5! Hurry and register your student before they are all gone! We also have discounts available for siblings! You can also take advantage of our pay-in-full discount to save even more!
    </Alert>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-5">
    <Card TextAlignment="Alignment.Center" Style="border: 0px; padding-top: 75px;">
      <CardBody>
        <CardTitle>We Seek...</CardTitle>
        <CardText>
          <blockquote>
            <i>We seek to educate students using all the academic disciplines, and to engage students in the
              pursuit of God's truth in all spheres of life.</i>
          </blockquote>
        </CardText>
        <a href="/about" class="text-decoration-none">
          Learn more&nbsp;&nbsp;
          <Icon Name="IconName.Book" />
        </a>
      </CardBody>
    </Card>
    <div class="text-center-full" style="margin-top: 20px;">
      <Button Type="ButtonType.Link" Color="ButtonColor.Success" Target="Target.Blank" Size="ButtonSize.ExtraLarge" Class="btn-rounded" To="https://app.praxischool.com/site_login.php?s=4101">
        <Icon Name="IconName.Alarm" />
        &nbsp;&nbsp;Register Now&nbsp;&nbsp;
        <Icon Name="IconName.Alarm" />
      </Button>
    </div>
  </div>
  <div class="col-sm-12 col-md-7">
    <iframe class="embed-rounded embed-responsive-item" style="height: 425px;"
      src="https://embed.sermonaudio.com/player/v/32624147123685/"
      title="Cedar Grove Christian Academy sermon audio player"
      allowfullscreen></iframe>
  </div>
</div>
<div class="row">
  <div class="col-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12">
    <div class="section-header">
      <p class="section-header-title">- Who We Are -</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <img src="images/ourmission.png" alt="Our Mission" loading="lazy" style="height: 100px; padding-bottom: 10px;" />
        <CardTitle>Our Mission</CardTitle>
        <CardText>
          <p class="text-justify">Cedar Grove Christian Academy exists to faithfully proclaim the gospel of
            Jesus Christ to a lost and dying
            world, to equip and train students to think and live Biblically, and to prepare the next generation of
            Christian leaders.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
  <div class="col-sm-12 col-md-6">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <img src="images/corevalues.png" alt="Core Values" loading="lazy" style="height: 100px; padding-bottom: 10px;" />
        <CardTitle>Core Values</CardTitle>
        <CardText>
          <p class="text-justify">We are committed to delivering the ABC's necessary for our students to
            succeed:</p>
          <div class="abc-list">
            <p>A - Academic Rigor</p>
            <p>B - Biblical World-view</p>
            <p>C - Christ centered</p>
          </div>
        </CardText>
      </CardBody>
    </Card>
  </div>
</div>
<div class="row">
  <div class="col-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12">
    <Card TextAlignment="Alignment.Center" Style="border: 0px;">
      <CardBody>
        <img src="images/discrimination.png" alt="Our Students" loading="lazy" style="height: 100px; padding-bottom: 10px;" />
        <CardTitle>Our Students</CardTitle>
        <CardText>
          <p class="text-justify">Cedar Grove Christian Academy admits students of any race, color, and national
            or ethnic origin to all the
            rights, privileges, programs, and activities generally accorded or made available to students at the school.
            It does not discriminate on the basis of race, color, or national or ethnic origin in the administration of
            its educational policies, admissions policies, scholarship programs, and athletic or other
            school-administered
            programs.</p>
        </CardText>
      </CardBody>
    </Card>
  </div>
</div>
